body {
    padding: 0;
    margin: 0;
    width: 100vw;
    background-image: url('font.jpg');
    background-size: cover;
    
    
}

.container {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "one one one"
    "two two two"
    "three three three"
    "four four four three "
    "five five five five ";

    
}


.wrapper {
    perspective: 800px;
    -webkit-perspective: 800px;
    
}

.image{
    height: 250px;
    width: 400px;
    border: 10px  solid white;
    grid-column: 2 / span 9;
    
}

.one {
    background: url('zaidimas.jpg');
    background-size: 400px 250px;
    grid-area: one;
    margin-top: 100px;
    align-items: center;
}

.two {
    background: url('taisykles.jpg');
    background-size: 387px 450px;
    
    
    grid-area: two;

}

.three {
background: url('pomegiai.png');
background-size: 380px 280px;
grid-area: three;

}

.four {
    background: url('drauge.png');
    background-size: 400px 430px;
    grid-area: four;
    
    }

    .five {
        background: url('dazytoja.png');
        background-size: 400px 290px;
        grid-area: five;
        
        }


.caption {
    
    width: 420px;
    font-size: 20px;
    font-family: brandon-grotesque, sans-serif;
    padding-left: 10px;
    padding-top: 15px;
    transform: rotateX(-180deg);
    box-sizing: border-box;
    transform-origin: top;
    z-index: -1;
    position: relative;
    background-color: white;
    transition: 1.2s;
    backface-visibility: hidden;
}

.wrapper:hover .caption{
    transform: rotateX(0deg);
}


